:root {
    --cream-color: #FFF7EC;
    --green-color: #457726;
    --splash-blue-color: #2A5D84;
    --splash-brown-color: #6B4C35;
    --splash-purple-color: #9C4E97;
    --splash-orange-color: #D97745;
    --splash-yellow-color: #E3B505;
}

html {
    height: 100%;
}

body {
    background-color: var(--cream-color);
    margin: 0 5%;
    height: 100%;
}

.green {
    color: var(--green-color);
}

.black {
    color: black;
}

.splash-blue {
    color: var(--splash-blue-color);
}

.splash-brown {
    color: var(--splash-brown-color);
}

.splash-purple {
    color: var(--splash-purple-color);
}

.splash-orange {
    color: var(--splash-orange-color);
}

.splash-yellow {
    color: var(--splash-yellow-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 2.5rem;
    height: 8vh;
}

.navbar-text {
    margin: 0;
    font-family: var(--font-rampart);
}

.navbar-link {
    text-decoration: none;
}

/* Homepage */

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    gap: 2%;
}

.headshot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headshot {
    height: auto;
    width: 100%;
    max-width: 30vw;
    margin: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-name {
    font-size: 4.5em;
    margin: 0;
    font-family: var(--font-rampart);
}

.typing-container {
    display: flex;
}

.text-splash {
    font-size: 2.5em;
    margin: 0;
    font-family: var(--font-rammetto);
}

.splash-item {
    color: black;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-left: 8px;
    background-color: black;
    animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

/* Componenets */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2% 0 0 0;
    width: 100%;
}

.title {
    font-family: var(--font-rampart);
    font-size: 4em;
    margin: 0;
}

.subtitle {
    font-family: var(--font-rammetto);
    font-size: 1.5em;
    margin: 0;
}

/* About Me */

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-body {
    width: 75%;
    font-family: var(--font-roboto);
}

.about-body p {
    margin-top: 0;
}

.at-a-glance-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto auto auto;
}

.at-a-glance-item-container {
    margin-bottom: 2%;
}

.at-a-glance-item-header {
    font-family: var(--font-rammetto);
    font-size: 1.1em;
    font-weight: 100;
    margin: 0;
}

.at-a-glance-item-list {
    font-family: var(--font-roboto);
    font-weight: 300;
    margin: 0;
}

.at-a-glance-item-list li {
    list-style-type: square;
}

.at-a-glance-item-list li::marker {
    color: var(--green-color);
}

/* Experience */

.experience-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.experience-item-container {
    margin-bottom: 2%;
}

.experience-header-container {
    display: flex;
    flex-direction: row;
    font-family: var(--font-rammetto);
    justify-content: space-between;
}

.experience-title, .experience-date  {
    font-weight: 100;
    margin: 0;
    font-size: 1.1em;
}

.experience-body {
    font-family: var(--font-roboto);
}

.experience-body p {
    line-height: 125%;
}

/* Projects */

.project-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.project-item-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 2% 0;
}

.project-text-container {
    margin: 0 5% 2% 0;
}

.project-text-title {
    font-family: var(--font-rammetto);
    font-weight: 100;
    font-size: 1.2em;
    margin: 0;
}

.project-text-subtitle {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 1em;
    margin: 0;
}

.project-text-body {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 0.9em;
    margin: 1% 0 0 0;
}

.project-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.project-img {
    height: auto;
    width: 25vw;
    margin: auto;
}

/* Resume */

.resume-full-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
}

.resume-download-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-img {
    max-height: 80vh;
    width: auto;
    margin: auto;
    border: 5px solid var(--green-color);
}

.resume-download {
    width: auto;
    margin: 2% auto 5% auto;
    color: var(--green-color);
    font-family: var(--font-rampart);
    font-size: 2em;
    text-decoration: none;
}

.resume-download:hover {
    cursor: pointer;
}

.float-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.float-text {
    font-family: var(--font-rammetto);
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
}

.rotate-one {
    transform: rotate(-7deg);
}

.rotate-two {
    transform: rotate(10deg);
}

.rotate-three {
    transform: rotate(-12deg);
}

.rotate-four {
    transform: rotate(16deg);
}

.rotate-five {
    transform: rotate(-4deg);
}

.rotate-six {
    transform: rotate(5deg);
}

/* Not Found */

.not-found {
    font-size: 20em;
    color: var(--green-color);
    font-family: var(--font-rampart);
    text-align: center;
    margin: 0;
}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    height: 2vh;
}

.footer-icon {
    color: var(--green-color);
}

.footer-link:hover {
    cursor: pointer;
}