:root {
    --cream-color: #FFF7EC;
    --green-color: #457726;
    --splash-blue-color: #2A5D84;
    --splash-brown-color: #6B4C35;
    --splash-purple-color: #9C4E97;
    --splash-orange-color: #D97745;
    --splash-yellow-color: #E3B505;
}

body {
    background-color: var(--cream-color);
    margin: 0;
    height: 100%;
}

.green {
    color: var(--green-color);
}

.black {
    color: black;
}

.splash-blue {
    color: var(--splash-blue-color);
}

.splash-brown {
    color: var(--splash-brown-color);
}

.splash-purple {
    color: var(--splash-purple-color);
}

.splash-orange {
    color: var(--splash-orange-color);
}

.splash-yellow {
    color: var(--splash-yellow-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2.5rem;
    height: 8vh;
}

.navbar-text {
    margin: 0;
    font-family: var(--font-rampart);
}

.navbar-link {
    text-decoration: none;
}

/* Homepage */

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 92vh;
    gap: 2%;
}

.headshot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headshot {
    height: auto;
    width: 100%;
    min-width: 25vw;
    margin: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-name {
    font-size: 4.5em;
    margin: 0;
    font-family: var(--font-rampart);
}

.typing-container {
    display: flex;
}

.text-splash {
    font-size: 2.5em;
    margin: 0;
    font-family: var(--font-rammetto);
}

.splash-item {
    color: black;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 100%;
    margin-left: 8px;
    background-color: black;
    animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}