:root {
    --cream-color: #FFF7EC;
    --green-color: #457726;
    --splash-blue-color: #2A5D84;
    --splash-brown-color: #6B4C35;
    --splash-purple-color: #9C4E97;
    --splash-orange-color: #D97745;
    --splash-yellow-color: #E3B505;
}

html {
    background-color: var(--cream-color);
}

.green {
    color: var(--green-color);
}

.splash-blue {
    color: var(--splash-blue-color);
}

.splash-brown {
    color: var(--splash-brown-color);
}

.splash-purple {
    color: var(--splash-purple-color);
}

.splash-orange {
    color: var(--splash-orange-color);
}

.splash-yellow {
    color: var(--splash-yellow-color);
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2.5em;
}

.navbar-text {
    margin: 0;
    color: black;
}

.navbar-link {
    text-decoration: none;
}

/* Homepage */

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: 10% auto 0 auto;
}

#headshot-container {
    width: 35%;
    height: 35%;
}

#headshot-container #headshot {
    width: 100%;
    height: 100%;
}

#text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-content #text-name {
    font-size: 3.5em;
    margin: 0;
}

#text-content #text-splash {
    font-size: 2em;
    margin: 0;
}